{% extends 'smack/base.html' %}

{% block content %}
  {% for profile in profiles %}
    {% if profile in like %}
      <p>{{ profile.user.username }}</p>
      <p>{{ profile.email }}</p>
      <p>{{ profile.bio }}</p>
      {% load static %}
      {% if profile.pic %}
      <img src="{{ profile.pic.url }}">
      {% endif %}
      <p>{{profile.score|add:current.score}}</p>
      <br>
    {% elif profile in dislike %}
    {% else %}
      <p>{{ profile.user.username }}</p>
      <p>{{ profile.bio }}</p>
      {% load static %}
      {% if profile.pic %}
      <img src="{{ profile.pic.url }}">
      {% endif %}
      <p>{{profile.score|add:current.score}}</p>
      <br>
    {% endif %}
  {% endfor %}
{% endblock %}
