{% extends 'smack/base.html' %}
{% block title %}Login{% endblock %}

{% block links %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="smack-body-all">
  <div id="intro1">Login to s<font color="#f15c00">MAC</font>k</div>
  <div id="form3" class="smack-body">
  <center>Sign in</center><br>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <input type="submit" class="button2" value="Log in" /></center>
    </form>
    <br>
    New to our site?<a href ="{%  url 'signup' %}"> signup</a>
  </div>
  </div>
{% endblock %}
