{% extends 'smack/base.html' %}
{% block title %}Signup{% endblock %}

{% block links %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}

<!-- <div class="smack-header-base">
		<div class="smack-header">
			<div id="logo" class="smack-header">s<font color="#f15c00">MAC</font>k</div>
		</div>
</div> -->
<div class="smack-body-all">
  <div id="intro1">New to Mac? Welcome to s<font color="#f15c00">MAC</font>k</div>
  <div id="form3" class="smack-body">
  <center>Create an Account</center><br>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
  <input type="submit" class="button2" value="Sign up" /></center>
  </form>
  <br>
  Already a user?<a href ="{%  url 'login' %}"> login</a>
</div>
</div>


{% endblock %}
