<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sMACk</title>
    <link rel="stylesheet" type="text/css" href="./css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro" rel="stylesheet">
</head>
<body>
<div class="smack-header-base">
		<div class="smack-header">
			<div id="logo" class="smack-header">s<font color="#f15c00">MAC</font>k</div>
			<div id="form1" class="smack-header">Email<br>
			<input placeholder="Email" name="name" /><br>
            </div>
			<div id="form2" class="smack-header">Password<br>
			<input placeholder="Password" type="password" name="password" /><br>
			</div>

		</div>
		<input type="submit" class="submit1" value="login" />

	</div>
<div class="smack-body-all">
	<div id="intro1">New to Mac?Welcome to s<font color="#f15c00">MAC</font>k</div>
	<div id="form3" class="smack-body">
		<center>Create an Account</center><br>
		<input placeholder="First Name" type="text" id="namebox" name="name1" />
		<input placeholder="Last Name" type="text" id="namebox" name="name2"  /> <br>
		<input placeholder="Email" type="text" id="mailbox" /><br>
		<input placeholder="Re-enter email" type="text" id="mailbox"  /><br>
		<input placeholder="Password" type="password" id="mailbox"  /><br><br>
		<center>
		<input type="radio" id="r-b" name="sex" value="male" />Male
		<input type="radio" id="r-b" name="sex" value="female" />Female
		<input type="radio" id="r-b" name="sex" value="other" />Other<br><br>
		<input type="submit" class="button2" value="Sign up" /></center>

		<br>
	</div>
</div>

</body>
</html>