<!DOCTYPE html>
<html lang="en" xmlns:overflow-y="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>sMACk</title>
    <link rel="stylesheet" href="./css/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="smack-header">
			<div id="logo" class="smack-header">s<font color="#f15c00">MAC</font>k</div>
            <i class="fa fa-home headerIcon1" style="font-size:36px"></i>
            <i class="material-icons headerIcon2" style="font-size:36px">email</i>
            <i class="material-icons headerIcon3" style="font-size:36px">settings</i>



</div>
<input type="submit" class="submit1" value="logout" />
<div id ="allWrapper">
    <div id = "leftSidebar" style="overflow-y: auto;">
    </div>
    <div id = "rightSidebar" style="overflow-y: auto;">
    </div>
    <div id="content" style="overflow-y: auto;"><br><br><br><br><br><br><br>
        <form><center>
    <h3>First Name:</h3><input type="text" name="fname"><br><br>
    <h3>Last Name:</h3><input type="text" name="lname"><br><br>
    <h3>Class of:</h3>
    <select>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
    </select> <br><br>
    <h3>Gender:</h3>
    <select>
        <option>Male</option>
        <option>Female</option>
        <option>Non-Binary</option>
        <option>Genderqueer</option>
        <option>Gender Fluid</option>
        <option>Neither</option>
        </select><br><br>
    <h3>Major:</h3>
    <select>
        <option>African Studies</option>
        <option>American Studies</option>
        <option>Anthropology</option>
        <option>Computer Science</option>
        <option>Political Science</option>
    </select><br><br>
    <h3>Bio:</h3>
        <textarea rows="10" cols="30">Enter your bio...</textarea><br>
    <h3>Profile Picture:</h3><input type="file" name="profilePic" accept="image/jpeg"><br>
    <br><button type="submit">Save and Submit</button>
    </center></form>

        </div>
    </div>
</body>
</html>


