<html lang="en">
<head>
    <meta name ='viewport' content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>sMACk</title>
    <link rel="stylesheet" href="./css/welcome.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<div class="smack-header">
			<div id="logo" class="smack-header">s<font color="#f15c00">MAC</font>k</div>
            <i class="fa fa-home headerIcon1" style="font-size:36px"></i>
            <i class="material-icons headerIcon2" style="font-size:36px">email</i>
            <i class="material-icons headerIcon3" style="font-size:36px">settings</i>



</div>
<input type="submit" class="submit1" value="logout" />
<div id ="allWrapper">
    <div id = "leftSidebar">
    </div>
    <div id = "rightSidebar">
    </div>
    <div id="content" style="overflow-y: auto;"><br><br><br><br><br><br><br>
        <h1>Welcome, UserNameHere</h1><br><br>
        <center>
        <button type="button" class="wFriendFeed">Your Friend Feed</button>
        <button type="button" class="wDateFeed">Your Date Feed</button>
        </center>
        </div>
    </div>
</body>
</html>